<header>
  <div class="statusbar container full-screen">
    <div class="row">
      <div class="col-sm-12">

        <a href="<%= root_path %>" class="pull-left brand"></a>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sign-in-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path  %>">Etymology</a>
          </div>

          <div class="pull-right collapse navbar-collapse" id="sign-in-navbar-collapse">
            <% if admin_signed_in? %>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <%= form_tag(destroy_admin_session_path, method: :delete, class: 'navbar-left') do %>
                        <ul class="list-unstyled">
                          <li>
                            <%= current_admin.email %>
                          </li>
                          <li class="sign-in">
                            <button id="logout" type="submit" class="btn-link">
                              Logout
                            </button>
                          </li>
                        </ul>
                    <% end %>
                  </li>
                </ul>
            <% else %>
                <ul class="nav navbar-nav navbar-right">
                  <li class="sign-in">
                    <a id="login" href="<%= new_admin_session_path %>">
                      Sign in / Sign up
                    </a>
                  </li>
                </ul>
            <% end %>
          </div>
        </nav>

      </div>
    </div>
  </div>
</header>