<div class="container">
  <div class="space-bar"></div>
  <div class="page-header">
    <h1>Welcome to Etymology-Lab
      <small>an Effort to help you improve your vocabulary</small>
    </h1>
  </div>


  <div class="row">
    <div class="col-sm-12 medium-table-container">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Word</th>
          <th class="hidden-xs">Meaning</th>
          <th>Root word</th>
          <th class="hidden-xs">Usages</th>
        </tr>
        </thead>

        <tbody>
        <% @non_rootwords.each do |non_rootword| %>
            <tr id="<%= non_rootword.word %>">
              <td>
                <button class="btn btn-link btn-block btn-unstyled" data-target-modal="non-rootword-modal" data-target='#non-rootword-modal' data-toggle="modal">
                  <div class="hidden non-rootword-data" data-non-rootword="<%= non_rootword.to_json %>"></div>
                  <%= non_rootword.word %>
                </button>
              </td>
              <td class="hidden-xs">
                <% meanings = '' %>
                <%- non_rootword.meaning.each do |meaning| %>
                    <% meanings = meanings + ', ' + meaning %>
                <% end %>
                <%= meanings.from(1) %>
              </td>
              <td>
                <button class="btn btn-link btn-block btn-unstyled" data-target-modal="rootword-modal" data-target='#rootword-modal' data-toggle="modal">
                  <div class="hidden rootword-data" data-rootword="<%= non_rootword.rootword.to_json %>"></div>
                  <%= non_rootword.rootword.word %>
                </button>
              </td>
              <td class="hidden-xs">
                <ul>
                <%- non_rootword.usages.each do |usage| %>
                    <li><%= usage %></li>
                <% end %>
                </ul>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: 'shared/non_rootword_modal' %>
<%= render partial: 'shared/rootword_modal' %>
