<div class="container">
  <div class="page-header">
    <h1>Admin Sign In
      <small class="hidden-xs">Go home if you are not an admin.</small>
    </h1>
  </div>

  <div class="row text-center">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {role: 'form', class: 'form-horizontal'}) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'col-sm-1 col-sm-offset-3 text-right' %>
          <div class="col-sm-4">
            <%= f.email_field :email, :autofocus => true, placeholder: 'admin email', title: 'admin email', required: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'col-sm-1 col-sm-offset-3 text-right' %>
          <div class="col-sm-4">
            <%= f.password_field :password, placeholder: 'password', title: 'password', required: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <% if devise_mapping.rememberable? -%>
              <div class="col-sm-2 col-sm-offset-4">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </div>
          <% end -%>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-4">
            <%= f.submit "Sign in", class: "btn btn-primary btn-block" %>
          </div>
        </div>
    <% end %>
  </div>

  <!--<%= render "admins/shared/links" %>-->

</div>
